body {
    background: grey;

}
.container {
    /* for clarification */
    border: 1px solid red;
    background: white;

}
.navbar-header {
    background-color: teal;
}
main {
    margin-top: 50px;
}
img {
    margin: 20px;
}